ion-toolbar{
    --background:#f5f5f3;
    align-items: center;
  
    ion-title{
      text-align: center;
    }
  }
  
  ion-content {
    --background: #f5f5f3;
    align-items: center;
  
    p{
        text-align: center;
    }
  
  }